<h2> Sewage Treatment Plant ID : <%= treatment_plant.id %> </h2>
Volume :<%= treatment_plant.volume %> <br>
Capacity :<%= treatment_plant.capacity %> <br>
<% if treatment_plant.alert then str="ON" else str="OFF" end %>
Alert : <%= str %>

<br>
Pumping Stations :
<table border="2">
 <tr> <th> ID</th> <th>Capacity</th> <th>Volume</th> <th>Location</th> <th>Priority</th> <th>Outlet Valve</th> <th>Second valve </th> <th>Alert</th> </tr>
<% treatment_plant.pumping_stations.each do |p| %>
<% if p.alert then str="ON" else str="OFF" end %>
<tr>
 <td><%= p.id %> </td>
 <td><%= p.capacity %> </td>
 <td><%= p.volume %> </td>
 <td><%= p.location %> </td>
 <td><%= p.priority %> </td>
 <td><%= p.valve_open %> </td>
 <td><%= p.second_valve_open %> </td>
 <td><%= str %>
</tr>

<% end %>


</table>
<div id="container" style=" width:600px; height:600px; ">
</div>

<%= javascript_tag do -%>
function chart() { 
    $('#container').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Amount of water'
        },
        xAxis: {
            categories: ['Sewage treatment plant'
<% treatment_plant.pumping_stations.each do |p| %>
,'Station <%= p.id %>'
<% end %>

]
        },
        yAxis: {
            title: {
                text: 'Volume'
            },
            tickInterval: 10,
            tickAmount: 11
        },
        legend: {
                labelFormat: "%"
        },
        series: [{
            name: '<%= treatment_plant.id %>',
            data: [<%= ((treatment_plant.volume*100)/treatment_plant.capacity).to_i %>
<% treatment_plant.pumping_stations.each do |p| %>
,<%= ((p.volume*100)/p.capacity).to_i %>
<% end %>
 ]
        }]
    });
}

$(document).ready(function(){	chart();	});
$(document).ajaxComplete(function(){	chart();	});

<% end -%>

