<h2> Sewage Treatment Plant ID : <%= @treatment_plant.id %> </h2>
Volume :<%= @treatment_plant.volume %> <br>
Capacity :<%= @treatment_plant.capacity %> <br>
<% if @treatment_plant.alert then str="ON" else str="OFF" end %>
Alert : <%= str %>

<br>
Pumping Stations :
<table border="2">
 <tr> <th> ID</th> <th>Capacity</th> <th>Volume</th> <th>Location</th> <th>Priority</th> <th>Outlet Valve</th> <th>Second valve </th> </tr>
<% @treatment_plant.pumping_stations.each do |p| %>
<tr>
 <td><%= p.id %> </td>
 <td><%= p.capacity %> </td>
 <td><%= p.volume %> </td>
 <td><%= p.location %> </td>
 <td><%= p.priority %> </td>
 <td><%= p.valve_open %> </td>
 <td><%= p.second_valve_open %> </td>
</tr>

<% end %>

</table>
