<h1> Add a new treatment plant </h1>

<%= form_for @treatment_plant do |f| %>

 <%= f.label :volume %>
 <%= f.number_field :volume %>

<br>

 <%= f.label :capacity %>
 <%= f.number_field :capacity %>

<br>

 <%= f.label :alert %>
 <%= f.check_box :alert %>

 <%= f.submit 'Submit' %>

<% end %>
